body {
    margin: 0;
    background-color: black;
    text-align: center;
    color: rgb(111, 172, 19);
    font-family: 'Kode Mone', monospace;
    font-size: 1.2rem;
    font-weight: 900;
  }
  
  button {
    cursor: pointer;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
    background-color: #333;
    border: 3px solid rgb(66, 66, 66);
    color: rgb(111, 172, 19);
    width: 10%;
  }
  
  input {
    background-color: #333;
    color: rgb(111, 172, 19);
    border: 3px solid rgb(66, 66, 66);
    width: 25%;
  }
  
  .bold {
    font-weight: bold;
  }

  h1 {
    font-family: "Kode Mono", monospace;
  }